<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{#draggable-object-target action="addField" class="equation-group"}}
	{{#each instructions as |field|}}
	  {{equation-part field=field}}
	{{/each}}
      {{/draggable-object-target}}
      <hr>
      Result
      {{result}}

      <hr/>
      Test Values
      <label>Linear Inches</label>
      {{input value=linearInchesValue}}

      <label>Waste</label>
      {{input value=wasteValue}}

      <button {{action "calculate"}}>Calculate</button>
    </div>
    <div class="col-md-6">
      <h3>Variables</h3>

      <div class="operators">
	{{#each variableOperators as |operator|}}
	  {{equation-operator onDragStop=(action "dragStop") operator=operator}}
	{{/each}}
      </div>
      <hr/>
      <h3>Operators</h3>
      <div class="operators">
	{{#each mathOperators as |operator|}}
	  {{equation-operator onDragStop=(action "dragStop")  operator=operator}}
	{{/each}}
      </div>
    </div>
  </div>
</div>
